<div data-controller="slideshow" data-slideshow-index-value="1">
  <button data-action="slideshow#previous"> ← </button>
  <button data-action="slideshow#next"> → </button>

  <div class="icon" data-slideshow-target="slide">🐵</div>
  <div class="icon" data-slideshow-target="slide">🙈</div>
  <div class="icon" data-slideshow-target="slide">🙉</div>
  <div class="icon" data-slideshow-target="slide">🙊</div>
</div>