<div data-controller="clipboard" data-clipboard-supported-class="clipboard--supported">
  <label>
    PIN: <input data-clipboard-target="source" type="text" value="1234" readonly>
  </label>
  <button data-action="clipboard#copy" class="clipboard-button">Copy to Clipboard</button>
</div>

<br>

<div data-controller="clipboard" data-clipboard-supported-class="clipboard--supported">
  PIN: <input data-clipboard-target="source" type="text" value="3737" readonly>
  <a href="#" data-action="clipboard#copy" class="clipboard-button">Copy to Clipboard</a>
</div>